<h1>About Us</h1>

<p>We are a non-profit group of volunteers dedicated to rescuing dogs, puppies and other animals that are doomed due to overcrowding in shelters, abandonment, or unwanted pets. We provide immediate medical attention as well as loving foster homes. Each animal is socialized and evaluated in a family setting.

After taking care of immediate needs we show our animals on our website and Facebook so they can find their forever home through adoption.

We are not a shelter therefore we do not have specific hours. All of our dogs are in private homes for foster care, so an appointment is required.</p>

<h3>DONATE</h3>

<p>As a registered 501(c)3 we are a tax deductible charity. Your donation will help us save more helpless animals from euthanasia due to shelter overcrowding or lack of spaying or neutering.</p>

<p>See the <a href="/donate">donation page</a>for more information.</p>