<div id="message-form">
  <h1 class="contact-title">Contact Us</h1>
  <p>Get in touch and we'll get back to you as soon as we can. We look forward to hearing from you!</p>
  <%= form_tag("/contact", novalidate: true, id: "contact-form") do %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name*</label>
          <input type="text" name="name" id="name" class="form-control required-field" placeholder="Required" required>
          <div class="invalid-feedback">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="text" name="email" id="email" class="form-control required-field" placeholder="Required" required>
          <div class="invalid-feedback">
            Email is required.
          </div>
        </div>
        <div class="form-group">
          <label for="number">Number</label>
          <input type="text" name="number" id="number" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="content">Message*</label>
          <textarea name="content" id="content" class="form-control required-field" style="height: 240px" placeholder="Required" required></textarea>
          <div class="invalid-feedback">
            Message is required.
          </div>
        </div>
      </div>
    </div>
    <div id="message-error"></div>
    <div class="text-center">
      <input type="submit" value="Send Message" class="btn btn-primary" id="contact-button">
    </div>
  <% end %>
</div>
