<h1 class="donate-title">Donate</h1>


<p>As a registered 501(c)3 we are a tax deductible charity. Your donation will help us save more helpless animals from euthanasia due to shelter overcrowding or lack of spaying or neutering. We bring sweet little puppies and dogs into foster homes and find permanent homes for them. Our rescue removes them from high-kill shelters, gives them love and medical care and exposure to potential adopters.</p>

<p>We transport, inoculate, deworm, deflea, clean-up infections and parasitic infestations, etc. Once we accept a dog we do whatever it takes to keep them healthy. We don’t turn our back on them if they turn out to have health problems that require veterinary care. Sometimes we take pregnant mamas (more likely to get euthanized before they have their pups) and then we are in for the long haul until the puppies are weaned.</p>

<p>All of these services cost money. Will you help? Every dollar you give makes a difference.</p>

<h3>Product Donations</h3>
<p>We are also always in need of various items that allow our rescue to help as many animals as possible:</p>

<ul>
  <li>Puppy training pads</li>
  <li>PEDIGREE puppy food</li>
  <li>Adult dog food</li>
  <li>Training Pads</li>
  <li>Folding Dog Exercies Pens</li>
  <li>Crates</li>
  <li>Collars</li>
  <li>Leashes</li>
  <li>Toys</li>
  <li>Treats</li>
</ul>

<p>If you wish to make a donation from our wishlist, please <a href="/contact">contact us</a> to make arrangements for us to pick up your donation. Thank you.

</p>