<h2 id="page-title">Welcome to Puppies and More Rescue</h2>
<p class="text-muted">South Jersey Adoption and Foster Home Network</p>

<div id="page-content">
  <p>Puppies and More is a united group of volunteers dedicated to finding homes for canines in need – mostly rescued from high-kill shelters. We provide immediate medical attention, which includes making sure they are up-to-date on immunizations, spayed or neutered, as well as placed in loving foster homes. All rescues are evaluated and socialized into the family setting.</p>

  <h3 id="page-ref" class="text-dark">Upcoming Events</h3>
  <p>There are no upcoming events at this time.</p>

  <h3 id="page-ref">
    <a href="/adoption_applications/new" class="text-dark">Adopt</a>
  </h3>
  <a href="/pets">View Adoptable Pets</a>
  <p>Interested in adding a new family member? Check our current available rescues at Pet Finder or Adopt a Pet to find those looking for their forever home.</p>
  <a href="/pets">Learn More</a>

  <h3 id="page-ref">
    <a href="/foster_applications/new" class="text-dark">Foster</a>
  </h3>
  <p>Interested in fostering? The more fosters we have available, the more dogs we can save each month.</p>
  <a href="/pets">Learn More</a>

  <h3 id="page-ref">
    <a href="#" class="text-dark">Puppies and More Apparel</a>
  </h3>

  <a href="#">Order Now</a>
</div>