<h1>Editing Adoption Application</h1>

<%= render 'form', adoption_application: @adoption_application %>

<%= link_to 'Show', @adoption_application %> |
<%= link_to 'Back', adoption_applications_path %>
